# Vagrant specific files      #
###############################
.vagrant
*.log
local.conf


# Provisioning specific files #
###############################
share

# Other                       #
###############################
.idea
release
temp
